body {
  font-family: Inter, sans-serif;
}
.nav {
  background-color: #21222A;
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 27px;
}
.nav-icon {
  width: 30px;
  margin-right: 7px;
}
.nav-logo-text {
  color: #61DAFB;
  font-size: 22px;
  margin-right: auto;
}
.nav-title {
  color: #DEEBF8;
}