* {
  margin: 0;
}
body {
  font-family: Inter, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.nav {
  background-color: #21222A;
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 27px;
}
.nav-icon {
  width: 30px;
  margin-right: 7px;
}
.nav-logo-text {
  color: #61DAFB;
  font-size: 22px;
  margin-right: auto;
}
.nav-title {
  color: #DEEBF8;
}
.main {
  background-color: #282D35;
  color: #FFFFFF;
  padding: 57px 27px;
  flex: 1;
}
.main h1 {
  margin-bottom: 26px;
  font-size: 39px;
}
.main li {
  line-height: 36px;
}